# Empty values.
EMPTY_BOOLEAN=""
EMPTY_NUMBER=""
EMPTY_STRING=""
# Falsy values.
FALSY_BOOLEAN="false"
FALSY_NUMBER="0"
FALSY_STRING=""
# Invalid values.
INVALID_BOOLEAN="invalid-boolean"
INVALID_TYPE="invalid-type" 
NON_FINITE_NUMBER="Infinity"
# Truthy values.
TRUTHY_BOOLEAN="true"
TRUTHY_NUMBER="1"
TRUTHY_STRING="string"