# 📡 API configuration.
API_PORT=3000
# 🗄️ Database configuration.
DATABASE=identity
DATABASE_HOST=127.0.0.1
DATABASE_PASSWORD=
DATABASE_PORT=5432
DATABASE_USER=
# ⚙️ Environment configuration.
ENVIRONMENT=development
# 🔒 JWT configuration.
JWT_SECRET=